body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 2rem;
}

.container {
    max-width: 1140px;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
}

.main {
    padding: 2.5%;
}